.headingContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.headingContainer:hover svg {
  opacity: 1;
}

@media (max-width: 768px) {
  .headingContainer {
    word-break: break-word;
  }
}

.headingAnchor {
  position: absolute;
  margin-left: -28px;
  border-radius: 0.25rem;
  padding: 0.125rem;
  display: flex;
  color: #797979;
  text-decoration: none;
}

.headingAnchor svg {
  width: 20px;
  height: 20px;
  opacity: 0;
}

.headingAnchor:focus {
  outline: 2px solid #61b2f3;
}

.headingAnchor:focus svg {
  opacity: 1;
}
