.container {
  text-align: center;
  padding: 20px 80px;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}

.card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
