.mainContainer {
  display: grid;
  grid-template-columns: 1fr auto;
}

.quickNavigationContainer {
  position: sticky;
  top: calc(64px + 24px);
  max-height: 568px;
  margin-left: 1.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

@media (max-width: 1024px) {
  .quickNavigationContainer {
    display: none;
  }
}

.sectionsContainer {
  display: grid;
  gap: 3rem;
}
