.codeBlock {
  background-color: #fbfbfb;
  border: 1px solid #dedede;
  border-radius: 0.25rem;
  padding: 1rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.875rem;
  color: #0b315d;
  overflow-x: auto;
}

.codeBlock pre {
  margin: 0;
}

.codeBlock code {
  display: block;
  white-space: pre-wrap;
  word-wrap: break-word;
}
